@model BankManagementData.Models.Transactions
@{
    ViewData["Title"] = "TransferMoneyConfirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div>
    <h1>Transfer Money Confirmation</h1>
    <h3>Transaction Successful</h3>
    


</div>